@import "tailwindcss";

input[type=number] {
  appearance: none;        
  -moz-appearance: textfield; 
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937; /* gray-800 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #2563eb; /* blue-600 */
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3b82f6; /* blue-500 */
}

* {
  scrollbar-width: thin;
  scrollbar-color: #2563eb #1f2937;
}